@using Schedule_Mate.Models

@{
  Layout = null;
}

@*Model for binding data*@
@model CollectionUser

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login Page</title>

  <link rel="stylesheet" href="~/css/style.css" />

  @*Google Fonts CDN*@
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  @*Bootstrap CDN*@
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body class="main" style="height:100vh">

  @*Boostrap Modal for showing alert.*@
  <div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">@*Modal title goes here..*@</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id='errMsg'>@*Modal body text goes here..*@</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>

  @*Boostrap Card*@
  <div class='card'>

    @*Card header component*@
    <div class='card-header'>
      <h1 class="card-title">Login</h1>
    </div>

    @*Html form using HTML helper for Login*@
    @*After form submit data will sent to "User" controller's "Login" action*@
    @using (@Html.BeginForm("Login", "User", FormMethod.Post, new
    {
      @class = "row",
      onsubmit = "return validateForm()"
      @*If 'validateForm()' return's false then form will not submit*@
    }))
    {

      @*Card body component*@
      <div class='card-body'>

        <label for="Email" class="form-label">E-mail</label>
        <div class="input-group mb-3 col-md-12">
          @*Html helpers with lambda exprestion to bind the data with model*@
          @* "a => a.FieldName" is lambda exprestion*@
          @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @id = "email", placeholder = "E-mail" })
          <span class="input-group-text">&#64email.com</span>
        </div>

        <div class="col-md-12">
          <label for="Password" class="form-label">Password</label>
          @Html.PasswordFor(a => a.Password, new { @class = "form-control", @id = "password", placeholder = "Password" })
        </div>

      </div>

      @*Card footer component*@
      <div class="card-footer">

        <input type="submit" name="login" value="Login" class="btn btn-outline-primary" />

        Don't have an account? @Html.ActionLink("Register Now", "Registration", "User")

      </div>
    }

  </div>

  <script src="~/js/site.js"></script>

  <script>
    function validateForm() {
      let flag = true;
      let email = document.querySelector('#email').value
      let password = document.querySelector('#password').value
      let modelTitleElement = document.querySelector('#staticBackdropLabel')
      let errMsgElemet = document.querySelector('#errMsg')
      let errorModal = new bootstrap.Modal(document.querySelector('#errorModal'), {
        keyboard: false
      })
      let errorMsg = ''
      let modalTitle = ''

      if (!patternValidator('email', email)) {
        modalTitle = 'Invalid email!'
        errorMsg = 'Please enter valid email.'
        flag = false
      } else if (password === '') {
        modalTitle = 'Empty password!'
        errorMsg = 'Please enter password.'
        flag = false
      } else if (!patternValidator('pwd', password)) {
        modalTitle = 'Invalid password!'
        errorMsg = 'Please enter valid password.'
        flag = false
      }

      if (!flag) {
        errMsgElemet.innerHTML = errorMsg
        modelTitleElement.innerHTML = modalTitle
        errorModal.show()
      }

      return flag;
    }
  </script>

  @*Bootstrap JavaScript CDN*@
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</body>

</html>